server {
  listen 80;
  server_name {{ server_name }};
  access_log /var/log/nginx/{{ server_name }}.access.log  {{ log_format_name }};
  error_log /var/log/nginx/{{ server_name }}.error.log;

  charset utf-8;
  
  location / {
    proxy_pass http://localhost:{{ proxy_port }};

    proxy_http_version 1.1;
    proxy_set_header   Upgrade $http_upgrade;
    proxy_set_header   Connection 'upgrade';
    proxy_set_header   Host $host;
    proxy_cache_bypass $http_upgrade;
    proxy_buffer_size          128k;
    proxy_buffers              4 256k;
    proxy_busy_buffers_size    256k;
  }
}
